doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@babel/polyfill@7.12.1/dist/polyfill.min.js"></script>
            //- <script crossorigin="anonymous" src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
            link( rel="stylesheet" href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            title Natours | #{title}
    body
        //- <div class="alert alert--error">Incorrect email or Password</div>
        //HEADER
        include _header
    
        //SECTION
        block content
            h1 This is the place holder block
    
        //FOOTER
        include _footer

        //SCRIPTS
        
        script(src='https://js.stripe.com/v3/', crossorigin='anonymous')
        script(src='/js/login.js')
        script(src='/js/updateUserData.js')
        script(src='/js/stripe.js')